adf-lead-lifecycle/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-lead-lifecycle"
		},
		"LS_AzurePostgres_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzurePostgres'"
		},
		"LS_Snowflake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Snowflake'"
		},
		"LS_AzureBlobStorage_Staging_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_AzureBlobStorage_Staging'"
		},
		"LS_AzurePostgres_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pg-lead-lifecycle-sg.postgres.database.azure.com"
		},
		"LS_AzurePostgres_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LeadManagement"
		},
		"LS_AzurePostgres_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "pgadmin"
		},
		"LS_Snowflake_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LEAD_MANAGEMENT"
		},
		"LS_Snowflake_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "ACCOUNTADMIN"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_IncrementalLoad_PostgresToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeV2Source",
								"query": "SELECT LAST_LOADED_UTC\nFROM PIPELINE_WATERMARK\nWHERE TABLE_NAME = 'LEADS';",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								},
								"treatDecimalAsString": false
							},
							"dataset": {
								"referenceName": "DS_Snowflake_Watermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupNewWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT MAX(\"UpdatedDateUtc\") AS \"NewWatermark\"\nFROM \"Leads\";",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DS_Postgres_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CopyIncrementalData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWatermark",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "LookupNewWatermark",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\n  \"Id\",\n  \"State\",\n  \"CreatedDateUtc\",\n  \"CancellationRequestDateUtc\",\n  \"CancellationDateUtc\",\n  \"CancellationRejectionDateUtc\",\n  \"SoldEmployee\",\n  \"CancelledEmployee\",\n  \"UpdatedDateUtc\"\nFROM \"Leads\"\nWHERE \"UpdatedDateUtc\" >  '@{activity('LookupOldWatermark').output.firstRow.LAST_LOADED_UTC}'\n  AND \"UpdatedDateUtc\" <= '@{activity('LookupNewWatermark').output.firstRow.NewWatermark}';",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "LS_AzureBlobStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "adf-staging"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Postgres_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Snowflake_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Snowflake_Watermark')]",
				"[concat(variables('factoryId'), '/datasets/DS_Postgres_Leads')]",
				"[concat(variables('factoryId'), '/datasets/DS_Snowflake_Leads')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Postgres_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzurePostgres",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "uuid",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "State",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CreatedDateUtc",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CancellationDateUtc",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SoldEmployee",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CancelledEmployee",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "UpdatedDateUtc",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "Leads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzurePostgres')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Snowflake_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CREATED_DATE_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					},
					{
						"name": "CANCELLATION_REQUEST_DATE_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					},
					{
						"name": "CANCELLATION_DATE_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					},
					{
						"name": "CANCELLATION_REJECTION_DATE_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					},
					{
						"name": "SOLD_EMPLOYEE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CANCELLED_EMPLOYEE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "UPDATED_DATE_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					}
				],
				"typeProperties": {
					"schema": "LEADS_SCHEMA",
					"table": "LEADS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Snowflake_Watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "TABLE_NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LAST_LOADED_UTC",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					}
				],
				"typeProperties": {
					"schema": "LEADS_SCHEMA",
					"table": "PIPELINE_WATERMARK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureBlobStorage_Staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_AzureBlobStorage_Staging_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzurePostgres')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('LS_AzurePostgres_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('LS_AzurePostgres_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('LS_AzurePostgres_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzurePostgres_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "RUZUDBQ-PT20624",
					"user": "SREEVATHSAG",
					"database": "[parameters('LS_Snowflake_properties_typeProperties_database')]",
					"warehouse": "LEAD_WH",
					"role": "[parameters('LS_Snowflake_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_password')]"
					},
					"useUtcTimestamps": false
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-Postgres-Local')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}